.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.731000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.923500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.000862;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.000862;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.944000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.944000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.000862;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.958000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.958000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{margin-left:-5.350155px;}
._a{margin-left:-3.374218px;}
._1{margin-left:-1.673728px;}
._7{width:8.428416px;}
._c{width:9.590881px;}
._10{width:10.679918px;}
._2{width:12.242125px;}
._e{width:16.457922px;}
._3{width:17.678400px;}
._8{width:19.921600px;}
._6{width:22.164800px;}
._0{width:24.291358px;}
._16{width:32.600608px;}
._f{width:34.922994px;}
._15{width:47.321534px;}
._b{width:52.162701px;}
._17{width:76.114627px;}
._4{width:89.089421px;}
._9{width:98.703494px;}
._5{width:102.613638px;}
._13{width:368.495992px;}
._11{width:370.594130px;}
._14{width:373.983429px;}
._12{width:399.175846px;}
.fc3{color:rgb(46,46,46);}
.fc1{color:rgb(0,57,172);}
.fc2{color:rgb(102,102,102);}
.fc0{color:rgb(0,31,90);}
.fs2{font-size:35.865600px;}
.fs4{font-size:39.850400px;}
.fs1{font-size:47.820800px;}
.fs3{font-size:68.861600px;}
.fs0{font-size:99.148400px;}
.y0{bottom:0.000000px;}
.y3a{bottom:68.070000px;}
.y39{bottom:83.014000px;}
.y38{bottom:97.958000px;}
.y5a{bottom:107.029000px;}
.y37{bottom:113.919000px;}
.y1c{bottom:114.799000px;}
.y59{bottom:121.973000px;}
.y1b{bottom:126.754000px;}
.y36{bottom:133.775000px;}
.y1a{bottom:138.709000px;}
.y58{bottom:145.884000px;}
.y19{bottom:150.664000px;}
.y35{bottom:151.707000px;}
.y18{bottom:162.619000px;}
.y57{bottom:180.753000px;}
.y34{bottom:186.577000px;}
.y17{bottom:187.461000px;}
.y56{bottom:195.697000px;}
.y33{bottom:201.520000px;}
.y32{bottom:216.464000px;}
.y55{bottom:219.607000px;}
.y16{bottom:222.362000px;}
.y31{bottom:228.420000px;}
.y15{bottom:242.679000px;}
.y30{bottom:243.364000px;}
.y54{bottom:246.441000px;}
.y2f{bottom:263.108000px;}
.y14{bottom:267.521000px;}
.y53{bottom:278.381000px;}
.y2e{bottom:284.687000px;}
.y52{bottom:290.336000px;}
.y51{bottom:302.291000px;}
.y13{bottom:303.684000px;}
.y2d{bottom:304.543000px;}
.y50{bottom:320.224000px;}
.y2c{bottom:322.476000px;}
.y12{bottom:325.263000px;}
.y4f{bottom:338.157000px;}
.y11{bottom:345.580000px;}
.y2b{bottom:357.345000px;}
.y10{bottom:364.636000px;}
.y2a{bottom:372.289000px;}
.y4e{bottom:373.026000px;}
.y4d{bottom:384.981000px;}
.y29{bottom:387.233000px;}
.yf{bottom:389.478000px;}
.y28{bottom:402.177000px;}
.y4c{bottom:402.914000px;}
.y4b{bottom:420.847000px;}
.y27{bottom:421.059000px;}
.ye{bottom:432.350000px;}
.y26{bottom:441.121000px;}
.y4a{bottom:455.716000px;}
.yd{bottom:457.192000px;}
.y25{bottom:459.054000px;}
.y49{bottom:473.649000px;}
.y24{bottom:485.888000px;}
.y48{bottom:491.581000px;}
.yc{bottom:500.064000px;}
.y23{bottom:516.084000px;}
.yb{bottom:520.382000px;}
.y47{bottom:526.451000px;}
.y22{bottom:534.017000px;}
.y46{bottom:544.383000px;}
.ya{bottom:545.224000px;}
.y21{bottom:551.950000px;}
.y45{bottom:562.316000px;}
.y20{bottom:578.784000px;}
.y9{bottom:580.125000px;}
.y44{bottom:597.185000px;}
.y8{bottom:601.704000px;}
.y1f{bottom:607.735000px;}
.y43{bottom:615.118000px;}
.y1e{bottom:619.690000px;}
.y7{bottom:623.283000px;}
.y1d{bottom:631.645000px;}
.y42{bottom:633.051000px;}
.y6{bottom:643.600000px;}
.y41{bottom:667.920000px;}
.y5{bottom:668.442000px;}
.y40{bottom:685.853000px;}
.y3f{bottom:703.786000px;}
.y4{bottom:722.363000px;}
.y3{bottom:736.310000px;}
.y3e{bottom:738.655000px;}
.y2{bottom:753.247000px;}
.y3d{bottom:756.588000px;}
.y1{bottom:773.172000px;}
.y3c{bottom:774.520000px;}
.y3b{bottom:801.355000px;}
.h7{height:29.608847px;}
.h6{height:30.903985px;}
.h4{height:31.383596px;}
.h3{height:35.530854px;}
.h8{height:37.085030px;}
.h9{height:41.844794px;}
.h5{height:49.649214px;}
.h2{height:71.485996px;}
.h0{height:841.890000px;}
.h1{height:842.000000px;}
.w0{width:595.276000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x3{left:34.016000px;}
.x4{left:39.261000px;}
.x1{left:180.201000px;}
.x2{left:182.443000px;}
.x5{left:184.574000px;}
.x6{left:187.017000px;}
.x7{left:191.953000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._d{margin-left:-7.133540pt;}
._a{margin-left:-4.498958pt;}
._1{margin-left:-2.231637pt;}
._7{width:11.237888pt;}
._c{width:12.787841pt;}
._10{width:14.239891pt;}
._2{width:16.322833pt;}
._e{width:21.943897pt;}
._3{width:23.571200pt;}
._8{width:26.562133pt;}
._6{width:29.553067pt;}
._0{width:32.388477pt;}
._16{width:43.467477pt;}
._f{width:46.563991pt;}
._15{width:63.095378pt;}
._b{width:69.550268pt;}
._17{width:101.486170pt;}
._4{width:118.785894pt;}
._9{width:131.604659pt;}
._5{width:136.818185pt;}
._13{width:491.327989pt;}
._11{width:494.125506pt;}
._14{width:498.644572pt;}
._12{width:532.234461pt;}
.fs2{font-size:47.820800pt;}
.fs4{font-size:53.133867pt;}
.fs1{font-size:63.761067pt;}
.fs3{font-size:91.815467pt;}
.fs0{font-size:132.197867pt;}
.y0{bottom:0.000000pt;}
.y3a{bottom:90.760000pt;}
.y39{bottom:110.685333pt;}
.y38{bottom:130.610667pt;}
.y5a{bottom:142.705333pt;}
.y37{bottom:151.892000pt;}
.y1c{bottom:153.065333pt;}
.y59{bottom:162.630667pt;}
.y1b{bottom:169.005333pt;}
.y36{bottom:178.366667pt;}
.y1a{bottom:184.945333pt;}
.y58{bottom:194.512000pt;}
.y19{bottom:200.885333pt;}
.y35{bottom:202.276000pt;}
.y18{bottom:216.825333pt;}
.y57{bottom:241.004000pt;}
.y34{bottom:248.769333pt;}
.y17{bottom:249.948000pt;}
.y56{bottom:260.929333pt;}
.y33{bottom:268.693333pt;}
.y32{bottom:288.618667pt;}
.y55{bottom:292.809333pt;}
.y16{bottom:296.482667pt;}
.y31{bottom:304.560000pt;}
.y15{bottom:323.572000pt;}
.y30{bottom:324.485333pt;}
.y54{bottom:328.588000pt;}
.y2f{bottom:350.810667pt;}
.y14{bottom:356.694667pt;}
.y53{bottom:371.174667pt;}
.y2e{bottom:379.582667pt;}
.y52{bottom:387.114667pt;}
.y51{bottom:403.054667pt;}
.y13{bottom:404.912000pt;}
.y2d{bottom:406.057333pt;}
.y50{bottom:426.965333pt;}
.y2c{bottom:429.968000pt;}
.y12{bottom:433.684000pt;}
.y4f{bottom:450.876000pt;}
.y11{bottom:460.773333pt;}
.y2b{bottom:476.460000pt;}
.y10{bottom:486.181333pt;}
.y2a{bottom:496.385333pt;}
.y4e{bottom:497.368000pt;}
.y4d{bottom:513.308000pt;}
.y29{bottom:516.310667pt;}
.yf{bottom:519.304000pt;}
.y28{bottom:536.236000pt;}
.y4c{bottom:537.218667pt;}
.y4b{bottom:561.129333pt;}
.y27{bottom:561.412000pt;}
.ye{bottom:576.466667pt;}
.y26{bottom:588.161333pt;}
.y4a{bottom:607.621333pt;}
.yd{bottom:609.589333pt;}
.y25{bottom:612.072000pt;}
.y49{bottom:631.532000pt;}
.y24{bottom:647.850667pt;}
.y48{bottom:655.441333pt;}
.yc{bottom:666.752000pt;}
.y23{bottom:688.112000pt;}
.yb{bottom:693.842667pt;}
.y47{bottom:701.934667pt;}
.y22{bottom:712.022667pt;}
.y46{bottom:725.844000pt;}
.ya{bottom:726.965333pt;}
.y21{bottom:735.933333pt;}
.y45{bottom:749.754667pt;}
.y20{bottom:771.712000pt;}
.y9{bottom:773.500000pt;}
.y44{bottom:796.246667pt;}
.y8{bottom:802.272000pt;}
.y1f{bottom:810.313333pt;}
.y43{bottom:820.157333pt;}
.y1e{bottom:826.253333pt;}
.y7{bottom:831.044000pt;}
.y1d{bottom:842.193333pt;}
.y42{bottom:844.068000pt;}
.y6{bottom:858.133333pt;}
.y41{bottom:890.560000pt;}
.y5{bottom:891.256000pt;}
.y40{bottom:914.470667pt;}
.y3f{bottom:938.381333pt;}
.y4{bottom:963.150667pt;}
.y3{bottom:981.746667pt;}
.y3e{bottom:984.873333pt;}
.y2{bottom:1004.329333pt;}
.y3d{bottom:1008.784000pt;}
.y1{bottom:1030.896000pt;}
.y3c{bottom:1032.693333pt;}
.y3b{bottom:1068.473333pt;}
.h7{height:39.478463pt;}
.h6{height:41.205314pt;}
.h4{height:41.844794pt;}
.h3{height:47.374473pt;}
.h8{height:49.446707pt;}
.h9{height:55.793059pt;}
.h5{height:66.198951pt;}
.h2{height:95.314662pt;}
.h0{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w0{width:793.701333pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x3{left:45.354667pt;}
.x4{left:52.348000pt;}
.x1{left:240.268000pt;}
.x2{left:243.257333pt;}
.x5{left:246.098667pt;}
.x6{left:249.356000pt;}
.x7{left:255.937333pt;}
}
