.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.731000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.923500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.000862;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.000862;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.944000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.944000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.958000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.958000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._14{margin-left:-4.375603px;}
._a{margin-left:-3.219920px;}
._1{margin-left:-1.673728px;}
._b{width:8.161382px;}
._6{width:9.364844px;}
._e{width:10.679918px;}
._2{width:12.242125px;}
._11{width:17.931384px;}
._19{width:19.066144px;}
._0{width:20.249250px;}
._7{width:22.138900px;}
._c{width:23.264672px;}
._5{width:24.628200px;}
._d{width:34.922994px;}
._9{width:52.165261px;}
._1a{width:61.546458px;}
._17{width:75.474483px;}
._15{width:84.877754px;}
._12{width:96.281472px;}
._3{width:98.388717px;}
._8{width:109.668890px;}
._4{width:113.411936px;}
._f{width:115.778566px;}
._1b{width:340.167503px;}
._18{width:353.015113px;}
._13{width:367.383860px;}
._10{width:387.665639px;}
._16{width:646.497786px;}
._1c{width:806.093159px;}
.fc3{color:rgb(46,46,46);}
.fc2{color:rgb(102,102,102);}
.fc1{color:rgb(0,57,172);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:19.925200px;}
.fs3{font-size:31.880400px;}
.fs4{font-size:35.865600px;}
.fs2{font-size:39.850400px;}
.fs1{font-size:47.820800px;}
.fs0{font-size:82.650000px;}
.y0{bottom:0.000000px;}
.y45{bottom:33.462000px;}
.y44{bottom:49.039000px;}
.y43{bottom:65.612000px;}
.y42{bottom:89.094000px;}
.y41{bottom:112.069000px;}
.y40{bottom:125.767000px;}
.y3f{bottom:139.746000px;}
.y3e{bottom:157.793000px;}
.y3d{bottom:175.027000px;}
.y3c{bottom:191.600000px;}
.y3b{bottom:222.868000px;}
.y1d{bottom:225.105000px;}
.y3a{bottom:236.567000px;}
.y1c{bottom:237.060000px;}
.y39{bottom:247.525000px;}
.y1b{bottom:249.016000px;}
.y1a{bottom:260.971000px;}
.y38{bottom:261.505000px;}
.y19{bottom:272.926000px;}
.y37{bottom:279.047000px;}
.y36{bottom:296.281000px;}
.y18{bottom:297.768000px;}
.y35{bottom:312.854000px;}
.y17{bottom:325.768000px;}
.y34{bottom:344.122000px;}
.y16{bottom:350.610000px;}
.y33{bottom:355.080000px;}
.y32{bottom:368.779000px;}
.y31{bottom:383.263000px;}
.y15{bottom:386.581000px;}
.y30{bottom:400.553000px;}
.y14{bottom:403.114000px;}
.y2f{bottom:417.126000px;}
.y13{bottom:419.647000px;}
.y12{bottom:436.180000px;}
.y2e{bottom:448.393000px;}
.y11{bottom:461.022000px;}
.y2d{bottom:462.092000px;}
.y2c{bottom:478.449000px;}
.y10{bottom:489.022000px;}
.y2b{bottom:495.682000px;}
.yf{bottom:505.555000px;}
.y2a{bottom:512.255000px;}
.ye{bottom:530.397000px;}
.y29{bottom:543.523000px;}
.y28{bottom:557.222000px;}
.yd{bottom:558.901000px;}
.y27{bottom:574.083000px;}
.yc{bottom:575.434000px;}
.y26{bottom:591.316000px;}
.yb{bottom:591.967000px;}
.y25{bottom:607.889000px;}
.ya{bottom:607.996000px;}
.y24{bottom:631.371000px;}
.y9{bottom:632.837000px;}
.y23{bottom:651.676000px;}
.y8{bottom:661.342000px;}
.y22{bottom:663.631000px;}
.y21{bottom:675.586000px;}
.y7{bottom:678.380000px;}
.y20{bottom:687.541000px;}
.y6{bottom:695.417000px;}
.y1f{bottom:699.497000px;}
.y5{bottom:720.259000px;}
.y1e{bottom:722.979000px;}
.y4{bottom:746.112000px;}
.y3{bottom:761.056000px;}
.y2{bottom:778.989000px;}
.y1{bottom:798.914000px;}
.h7{height:24.723250px;}
.hb{height:27.813773px;}
.h6{height:28.732138px;}
.h8{height:29.608847px;}
.h9{height:30.903985px;}
.ha{height:31.383596px;}
.h5{height:34.231494px;}
.h4{height:34.870428px;}
.h3{height:35.530854px;}
.h2{height:59.590650px;}
.h0{height:841.890000px;}
.h1{height:842.000000px;}
.w0{width:595.276000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x1{left:34.016000px;}
.x2{left:36.506000px;}
.x3{left:39.261000px;}
.x4{left:181.772000px;}
.x5{left:184.574000px;}
.x6{left:187.017000px;}
.x7{left:189.144000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._14{margin-left:-5.834138pt;}
._a{margin-left:-4.293227pt;}
._1{margin-left:-2.231637pt;}
._b{width:10.881843pt;}
._6{width:12.486459pt;}
._e{width:14.239891pt;}
._2{width:16.322833pt;}
._11{width:23.908512pt;}
._19{width:25.421525pt;}
._0{width:26.999000pt;}
._7{width:29.518533pt;}
._c{width:31.019562pt;}
._5{width:32.837600pt;}
._d{width:46.563991pt;}
._9{width:69.553681pt;}
._1a{width:82.061944pt;}
._17{width:100.632644pt;}
._15{width:113.170339pt;}
._12{width:128.375297pt;}
._3{width:131.184956pt;}
._8{width:146.225186pt;}
._4{width:151.215914pt;}
._f{width:154.371421pt;}
._1b{width:453.556671pt;}
._18{width:470.686817pt;}
._13{width:489.845147pt;}
._10{width:516.887519pt;}
._16{width:861.997049pt;}
._1c{width:1074.790878pt;}
.fs5{font-size:26.566933pt;}
.fs3{font-size:42.507200pt;}
.fs4{font-size:47.820800pt;}
.fs2{font-size:53.133867pt;}
.fs1{font-size:63.761067pt;}
.fs0{font-size:110.200000pt;}
.y0{bottom:0.000000pt;}
.y45{bottom:44.616000pt;}
.y44{bottom:65.385333pt;}
.y43{bottom:87.482667pt;}
.y42{bottom:118.792000pt;}
.y41{bottom:149.425333pt;}
.y40{bottom:167.689333pt;}
.y3f{bottom:186.328000pt;}
.y3e{bottom:210.390667pt;}
.y3d{bottom:233.369333pt;}
.y3c{bottom:255.466667pt;}
.y3b{bottom:297.157333pt;}
.y1d{bottom:300.140000pt;}
.y3a{bottom:315.422667pt;}
.y1c{bottom:316.080000pt;}
.y39{bottom:330.033333pt;}
.y1b{bottom:332.021333pt;}
.y1a{bottom:347.961333pt;}
.y38{bottom:348.673333pt;}
.y19{bottom:363.901333pt;}
.y37{bottom:372.062667pt;}
.y36{bottom:395.041333pt;}
.y18{bottom:397.024000pt;}
.y35{bottom:417.138667pt;}
.y17{bottom:434.357333pt;}
.y34{bottom:458.829333pt;}
.y16{bottom:467.480000pt;}
.y33{bottom:473.440000pt;}
.y32{bottom:491.705333pt;}
.y31{bottom:511.017333pt;}
.y15{bottom:515.441333pt;}
.y30{bottom:534.070667pt;}
.y14{bottom:537.485333pt;}
.y2f{bottom:556.168000pt;}
.y13{bottom:559.529333pt;}
.y12{bottom:581.573333pt;}
.y2e{bottom:597.857333pt;}
.y11{bottom:614.696000pt;}
.y2d{bottom:616.122667pt;}
.y2c{bottom:637.932000pt;}
.y10{bottom:652.029333pt;}
.y2b{bottom:660.909333pt;}
.yf{bottom:674.073333pt;}
.y2a{bottom:683.006667pt;}
.ye{bottom:707.196000pt;}
.y29{bottom:724.697333pt;}
.y28{bottom:742.962667pt;}
.yd{bottom:745.201333pt;}
.y27{bottom:765.444000pt;}
.yc{bottom:767.245333pt;}
.y26{bottom:788.421333pt;}
.yb{bottom:789.289333pt;}
.y25{bottom:810.518667pt;}
.ya{bottom:810.661333pt;}
.y24{bottom:841.828000pt;}
.y9{bottom:843.782667pt;}
.y23{bottom:868.901333pt;}
.y8{bottom:881.789333pt;}
.y22{bottom:884.841333pt;}
.y21{bottom:900.781333pt;}
.y7{bottom:904.506667pt;}
.y20{bottom:916.721333pt;}
.y6{bottom:927.222667pt;}
.y1f{bottom:932.662667pt;}
.y5{bottom:960.345333pt;}
.y1e{bottom:963.972000pt;}
.y4{bottom:994.816000pt;}
.y3{bottom:1014.741333pt;}
.y2{bottom:1038.652000pt;}
.y1{bottom:1065.218667pt;}
.h7{height:32.964334pt;}
.hb{height:37.085030pt;}
.h6{height:38.309518pt;}
.h8{height:39.478463pt;}
.h9{height:41.205314pt;}
.ha{height:41.844794pt;}
.h5{height:45.641991pt;}
.h4{height:46.493904pt;}
.h3{height:47.374473pt;}
.h2{height:79.454200pt;}
.h0{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w0{width:793.701333pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x1{left:45.354667pt;}
.x2{left:48.674667pt;}
.x3{left:52.348000pt;}
.x4{left:242.362667pt;}
.x5{left:246.098667pt;}
.x6{left:249.356000pt;}
.x7{left:252.192000pt;}
}
